<div id="splash-title" class="medium-6 columns medium-offset-1 ">
  <h1>Better Reads</h1>
</div>

<div id="splash-image">
  <%= image_tag 'twilight_zoneedited.jpg', class: 'small-12 columns' %>
</div>

<div id="name">

</div>
