

<div id="splash-image">
  <%= image_tag 'twilight_zoneedited.jpg', class: 'small-12 columns' %>
</div>

<div>

  <div id="right-splash-block" class="medium-12 columns">

    <div id="splash-title" class="medium-5 columns medium-offset-7">
      <h1>Better Reads</h1>
    </div>

    <div id="splash-description" class="medium-4 columns medium-offset-6">
      <h3><%= link_to image_tag("goodreads-login-button.png"), new_session_path %></h3>
    </div>
  </div>

  <div id="left-splash-block">
    <div class="medium-8 columns">
      <ul>
        <li>Connect your GoodReads account</li>
        <li>Follow more users</li>
        <li>Get more accurate reviews, based on users you trust</li>
      </ul>
    </div>
  </div>
</div>

<div>
  <div id="splash-featured-user" class="medium-11 columns medium-offset-1">
    <h2>Featured User</h2>
    <div class="medium-2 columns">
      <%= image_tag 'greg.jpg' %>
    </div>
    <h4>Greg N</h4>
    <h5>Featured Book: <b>Fifty Shades of Grey</b> by not a real person</h5>
    <h5>goodreads score: <b>3.7 / 5</b></h5>
    <h5>Greg's better reads score: <b>0 / 5</b></h5>
  </div>
</div>
