<div id="landing-background">

</div>

<div id="splash-image">
  <%= image_tag 'burgess4.jpg', class: 'small-12 columns' %>
</div>

<div id="right-splash-block">

  <div class="container">
    <div id="splash-title" class="medium-5 columns medium-offset-7">
      <h1>Reviewer</h1>
    </div>
  </div>

  <div class="container">
    <div id="splash-description" class="medium-4 columns medium-offset-8">
      <h3><%= link_to image_tag("goodreads-login-button.png"), login_path, id: 'login' %></h3>
    </div>
  </div>

</div>

<div class="container">
  <div class="medium-12 columns" id="splash-bullets">
      <div class="small-4 columns text-left">login with goodreads</div>
      <div class="small-4 columns text-center">follow more users</div>
      <div class="small-4 columns text-right">get tailored book ratings</div>
  </div>
</div>
