<div>
  <div id="splash-featured-user" class="medium-6 columns medium-offset-3">
    <h2>Featured User</h2>
    <div class="medium-2 columns">
      <%= image_tag 'greg.jpg' %>
    </div>
    <h4>Greg N</h4>
    <h5>Featured Book: <b>Fifty Shades of Grey</b> by not a real person</h5>
    <h5>goodreads score: <b>3.7 / 5</b></h5>
    <h5>Greg's better reads score: <b>0 / 5</b></h5>
  </div>
</div>
