<div class="row" id="books-header">
  <h2 class='text-center'>Books</h2>
</div>

<div class="container"id="dashboard-search">
  <%= form_tag(id: "search-form") do %>
  <div class="small-6 medium-4 columns medium-offset-3">
      <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
  </div>
  <div class="small-3 medium-2 columns end">
    <%= submit_tag "Search", :name => nil, class: "button round postfix" %>
  </div>
  <% end %>
</div>

<div class="medium-6 columns medium-offset-3">
  <h4 class='text-center'>Books from members in your network</h4>
</div>

<div class="container" id="book-grid">
  <ul class="medium-block-grid-3">
    <% 6.times do %>
      <li><%=render partial: 'books/book' %></li>
    <% end %>
  </ul>
</div>
