---
http_interactions:
- request:
    method: get
    uri: http://www.goodreads.com/user/compare/4384303.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7JZbbAdA91ktpq19R4P1cA", oauth_nonce="EdzmnchYEmGISadZ0ataIaeVcc9O3EGWYleo82xzLg",
        oauth_signature="Hu9SqFcuirhqslfKiSCW%2FXM4hlk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422465100", oauth_token="1iGjnyBKj8gUvBuACNtw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <GoodreadsResponse>
          <Request>
            <authentication>true</authentication>
              <key><![CDATA[7JZbbAdA91ktpq19R4P1cA]]></key>
            <method><![CDATA[user_compare]]></method>
          </Request>
          <compare>
            <not_in_common>999</not_in_common>
          <your_library_percent>29.11</your_library_percent>
          <their_library_percent>2.25</their_library_percent>
          <your_total_books_count>79</your_total_books_count>
          <their_total_books_count>1022</their_total_books_count>
          <common_count>23</common_count>
          <reviews>
              <review>
                <book>
                  <title><![CDATA[The Selected Poetry of Rainer Maria Rilke]]></title>
                  <id>46201</id>
                  <url><![CDATA[http://www.goodreads.com/book/show/46201.The_Selected_Poetry_of_Rainer_Maria_Rilke]]></url>
                </book>
                <your_review>
                  <id>481611177</id>
        <rating>to-read</rating>

                </your_review>
                <their_review>
                  <id>768236544</id>
        <rating>3</rating>

                </their_review>
              </review>
              <review>
                <book>
                  <title>Fathers and Sons</title>
                  <id>19117</id>
                  <url><![CDATA[http://www.goodreads.com/book/show/19117.Fathers_and_Sons]]></url>
                </book>
                <your_review>
                  <id>481608300</id>
        <rating>3</rating>

                </your_review>
[...]
