---
http_interactions:
- request:
    method: post
    uri: http://www.goodreads.com/shelf/add_to_shelf.xml?book_id=1&name=to-read
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_consumer_key="7JZbbAdA91ktpq19R4P1cA",
        oauth_nonce="EVTOa8EIYh46coBqsmdRp0mtUmewaYH83dhyIv5FNA", oauth_signature="Zgds%2BFPBWixAvvqrOe6%2FFmWzwdU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422475087", oauth_token="1iGjnyBKj8gUvBuACNtw",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 201 Created
      Location:
      - http://www.goodreads.com/review/list/9186805.xml?shelf=to-read
      Etag:
      - '"be56e7268bda970d0ab872bffc9fd634-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <shelf>
          <created-at type="datetime">2015-01-28T19:58:08+00:00</created-at>
          <id type="integer">897509927</id>
          <position type="integer">30</position>
          <review-id type="integer">1183341234</review-id>
          <updated-at type="datetime">2015-01-28T19:58:08+00:00</updated-at>
          <user-shelf-id type="integer">30811705</user-shelf-id>
          <name>to-read</name>
          <exclusive type="boolean">true</exclusive>
        </shelf>
  recorded_at: Wed, 28 Jan 2015 19:58:08 GMT
recorded_with: VCR 2.9.3
