<div class="panel">
  <h4 class="text-center">CoolGuy303</h4>
  <%= image_tag 'https://d.gr-assets.com/users/1335851686p3/9186805.jpg' %>
  <span id="user-attributes" class="right">
    <h5>Description: such a cool guy</h5>
  </span>
</div>
