  <div class="panel">
      <h5><b>book.title</b></h5>
      <span>
        <%= image_tag book.small_image_url %>
      </span>
      <span id="panel-scores" class="right" style="float: right">
        <div id="gr_add_to_books">
          <div class="gr_custom_each_container_">
            <a href="https://www.goodreads.com/book/isbn/0439139600" style="border:none" target="_blank"><img alt="Harry Potter and the Goblet of Fire (Harry Potter, #4)" src="https://www.goodreads.com/images/atmb_add_book-70x25.png" /></a>
          </div>
        </div>
        <!-- the identifier in the following script tag can be a GR book id or an isbn -->
        <script src="https://www.goodreads.com/book/add_to_books_widget_frame/0439139600?atmb_widget%5Bbutton%5D=atmb_widget_1.png" type="text/javascript"></script>
        <h5>goodreads: <br/><b>3.7 / 5</b></h5>
        <h5>your score: <br/><b>4.7 / 5</b></h5>

      </span>
  </div>
