
<div class="row">
  <div class="small-8 columns small-offset-2">
    <h2 class="text-center">Books with Reviewer ratings</h2>
  </div>
</div>

<div class="container">
  <div class="small-6 columns small-offset-3 pagination-widget">
    <%= will_paginate @books, renderer: FoundationPagination::Rails %>
  </div>
</div>

<div class="row" id="book-grid">
  <ul class="medium-block-grid-3">
    <% @books.each do |book| %>
      <li><%= render partial: 'book', locals: {book: book} %></li>
    <% end %>
  </ul>
</div>


<div class="container">
  <div class="small-6 columns small-offset-3 pagination-widget">
    <%= will_paginate @books, renderer: FoundationPagination::Rails %>
  </div>
</div>
