<div class="panel clearfix">
  <div>

    <div class="row">
      <div class="small-10 columns small-offset-1 followee-name-container">
        <h5 class="text-center followee-name"><%= followee.name %></h5>
      </div>
    </div>

    <div class="container">
      <div class="followee-image-container small-10 columns small-offset-1">
        <%= image_tag followee.image_url, class: 'panel-image'%>
      </div>
      <div class=row>
        <div class="small-6 columns small-offset-3 text-center">
          <%= link_to "compare", book_comparison_path(id: followee.goodreads_id), class: 'bold-link' %>
        </div>
      </div>
    </div>

  </div>
</div>
