<div class="panel clearfix" data-equalizer>
  <div data-equalizer-watch>

    <div class="row">
      <div class="small-10 columns small-offset-1 followee-name-container">
        <h5 class="text-center followee-name"><%= followee.name %></h5>
      </div>
    </div>

    <div class="container">
      <div class="followee-image-container small-10 columns small-offset-1">
        <%= image_tag followee.image_url, class: 'panel-image', lazy: true %>
      </div>
      <div class="small-8 columns small-offset-2">
        <%= link_to "compare", book_comparison_path(id: followee.goodreads_id), class: 'left' %>
      </div>
    </div>

    <div class="row">
    </div>

  </div>
</div>
