<div class="row">
  <div class="small-8 columns small-offset-2">
    <h2 class="text-center">People you're following</h2>
  </div>
</div>

<div class="row" id="book-grid">
  <ul class="medium-block-grid-4" data-equalizer>
    <% @followees.each do |followee| %>
      <li><%= render partial: 'followee', locals: {followee: followee} %></li>
    <% end %>
  </ul>
</div>
