<div class="row">
  <div class="small-6 columns small-offset-3">
    <h2 class='text-center'>Search Results:</h2>
  </div>
</div>

<div class="row">
  <% search.results.work.each do |book| %>
    <%= render @book %>
  </div>
<% end %>
